jun_xml/src/test/java/book.dtd

<?xml version="1.0" encoding="GBK"?> 
<!ELEMENT 书籍列表 (计算机书籍)* >
<!ELEMENT 计算机书籍 ((书名, 价格)+, 作者+, 性别?, (地址|电话), 简介, hr) >
<!ELEMENT 书名 (#PCDATA) >
<!ELEMENT 价格 (#PCDATA) >
<!ELEMENT 作者 (#PCDATA) >
<!ELEMENT 简介 (#PCDATA) >
<!ELEMENT 性别 (#PCDATA) >
<!ELEMENT 地址 (#PCDATA) >
<!ELEMENT 电话 (#PCDATA) >
<!ELEMENT hr EMPTY>
<!ATTLIST 作者
	性别 (男 | 女) "男"
	年龄 CDATA #IMPLIED
	联系电话 CDATA #REQUIRED
	职务 CDATA #FIXED "作家"
	个人爱好 CDATA "聊天"
>

